body{
  padding: 0;
  margin: 0;
}
a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.callback{
  display: none;
}
.drop_wrapper{
  display: none;
}
.header #menu{
  display: none;
}
.header {
  font-family: 'Montserrat', bold;
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  height: 70px;
  position: fixed;
  background: #fff;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
.header .logo {
  align-self: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}
.header .logo .black_side{
  position: absolute;
  background: black;
  width: 29.15px;
  height: 18.5px;
  margin-left: -10px;
  margin-top: 5px;
}
.header .logo .first_side{
  color: white;
  position: absolute;
}
.header .logo .second_side{
  margin-left: 20px;
}
.header .menu_contacts{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.header .menu_contacts span{
  display: grid;
  align-self: center;
  justify-self: center;
  font-size: 22px;
}
.header .links {
  align-self: center;
  justify-self: center;
  font-size: 23px;
}
.header .logo{
  padding-left: 80px;
}
.header .black_side{
  width: 10px;
  height: 10px;
  background: #000;
}
.align_blocks{
  margin-right: 80px;
  margin-left: 80px;
}
.advertising {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.advertising .scheme img {
  width: 95%;
  height: 90%;
}
.main {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.main .title{
  font-family: 'Montserrat', bold;
  margin-left: -30px;
  bottom: 1px solid black;
  display: grid;
  align-self: center;
  font-weight: bold;
}
.main .title label:first-child{
  font-size: 75px;
}
.main .title label:last-child{
  font-size: 52px;
}
.main .address{
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 38px;
  margin-top: 30px;
}
.swap_down button{
  margin-top: 30px;
  width: 320px;
  height: 48px;
  font-size: 1.4em;
  border: 1px solid lightgrey;
  background: #fff;
  margin-left: 25px;
  cursor: pointer;
}
.title_center{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 50px;
  font-size: 164px;
  text-align: center;
  color: #DBDBDB
}
.condition .title {
  text-align: center;
}
.condition .office_image{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.condition img{
  width: 100%;
}
.about_office{
  margin-top: 20px;
}
.about_office .wrapper{
  font-family: 'Montserrat' , bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  height: 350px;
}
.about_office .wrapper div{
  display: grid;
  text-align: center;
  align-content: center;
  padding: 20px 30px 0 30px;
  border: 1px solid lightgrey;
}
.about_office .wrapper p{
  font-size: 12px;
}
.about_office .wrapper div .title{
  font-size: 1.4em;
  font-weight: bold;
}
.about_office i {
  display: grid;
  justify-self: center;
  font-size: 101px;
  margin-bottom: 15px;
}
.condition .footer{
  font-family: 'Montserrat' , bold;
  display: grid;
  border: 1px solid lightgrey;
  align-content: center;
  text-align: center;
  height: 80px;
  grid-column: 1/-1;
}
.condition .footer label{
  font-weight: bold;
  font-size: 1em;
}
.tarrifs .wrapper{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tarrifs .wrapper div{
  padding-top: 30px;
  display: grid;
  text-align: center;
  align-content: center;
  border: 1px solid lightgrey;
}
.tarrifs .wrapper .price_list{
  height: 325px;
}
.tarrifs .wrapper .label_text .title{
  font-family: 'Montserrat', bold;
  margin-bottom: 15px;
  font-size: 3.2em;
  font-weight: bold;
}
.tarrifs .wrapper .label_text {
  border: none
}
.tarrifs .wrapper .label_text .wrapper_paragraph{
  border: none;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 15px;
}
.tarrifs .wrapper .label_text .desc{
  font-size: 1em;
}
.tarrifs .wrapper .price_list .price {
  display: grid;
  justify-self: center;
  grid-template-columns: 50% 50%;
  border: none;
}
.tarrifs .wrapper .price_list .price label{
  font-size: 1.8em;
}
.tarrifs .wrapper .price_list i{
  margin-top: 4px;
  padding-right: 2px;
  font-size: 2em;
}
.tarrifs .wrapper .price_list button{
  font-size: 1.4em;
  background: #fff;
  height: 42px;
  cursor: pointer;
  border: none;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.tarrifs .footer{
  font-family: 'Montserrat' , bold;
  display: grid;
  border: 1px solid lightgrey;
  align-content: center;
  text-align: center;
  height: 80px;
  grid-column: 1/-1;
}
.tarrifs .footer label{
  font-weight: bold;
  font-size: 1em;
}
.place::-webkit-input-placeholder {
  color: #ccc;
}
.contacts{
  margin: 20px 70px 50px 70px;
  font-family: 'Montserrat' , bold;
}
.wrapper_contacts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid lightgrey;
  width: 90%;
  margin-left: 5%;
}
.button_wrapper1 button,.button_wrapper2 button{
  font-family: 'Montserrat', bold;
  background: #fff;
  outline: none;
  border: none;
  border: 1px solid lightgrey;
  font-size: 2px;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  background: #fff;
  width: 100%;
}
.wrapper_contacts .form{
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid lightgrey;
  grid-column: 2;
  grid-row: 1;
}
.form .wrapper_input{
  display: grid;
  grid-template-columns: 35% 60%;
  padding: 20px;
}
.form .wrapper_input input{
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  font-size: 22px;
  color: black;
}
.form .wrapper_textarea{
  display: grid;
  grid-template-columns: 35% 60%;
  padding: 0 20px 0 20px;
}
.form .wrapper_input label{
  font-size: 18px;
}
.form .wrapper_textarea label{
  grid-column: 1;
  font-size: 18px;
  margin-top: 30px;
}
.wrapper_contacts .button_wrapper1 button ,.wrapper_contacts .button_wrapper2 button {
  font-size: 22px;
}
.form .wrapper_textarea textarea{
  outline: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 20px;
  max-width: 100%;
  max-height: 70px;
  height: 45px;
  margin-bottom: 20px;
}
.wrapper_contacts .footer .icons i{
  padding-left: 25px;
}
.wrapper_contacts .footer .icons{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 22px;
}
.wrapper_contacts .footer .email{
  font-size: 18px;
  margin-top: 10px;
}
.wrapper_contacts .footer .prone_number{
  display: grid;
  font-size: 24px;
  font-weight: bold;
}
.wrapper_contacts .footer{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}
.wrapper_contacts .footer .street{
  margin-top: 40px;
  font-size: 18px;
}
iframe {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  border: none;
}
.last_footer{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 35% 30%;
  margin-top: 30px;
  height: 40px;
  background: black;
  color: white;
  font-size: 14px;
}
.last_footer .dot{
  color: black;
}
.last_footer div{
  display: grid;
  align-items: center;
  justify-self: center;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .header .menu_contacts, .header .links {
    display: none;
  }
  .drop_wrapper{
    position: fixed;
    background: #fff;
    z-index: 1000;
    margin-top: 131px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    -webkit-box-shadow: 0px 16px 17px -2px rgba(224,217,224,1);
    -moz-box-shadow: 0px 16px 17px -2px rgba(224,217,224,1);
    box-shadow: 0px 16px 17px -2px rgba(224,217,224,1);
  }
  .head_contact_wrap{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    font-family: 'Montserrat', bold;
    grid-gap: 100px;
  }
  .head_links_wrap{
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-gap: 40px;
  }
  .head_contact_wrap a{
    font-size: 1.7em;
  }
  .head_links_wrap{
    font-size: 30px;
  }
  .header {
    display: grid;
    height: 130px;
    grid-template-columns: 1fr 1fr;
  }
  .header #menu {
    align-self: center;
    justify-self: end;
    display: block;
    font-size: 30px;
    margin-right: 50px;
  }
  .align_blocks{
    margin: 0;
  }
  .advertising .scheme{
    margin-left: 12.5%;
    width: 80%;
    grid-column: 1/-1;
    grid-row: 1
  }
  .advertising .main{
    width: 100%;
    text-align: center;
    margin-left: 30%;
    margin-top: 30px;
  }
  .advertising .main .title{
    font-family: 'Montserrat' , bold;
    font-weight: bold;
    margin-right: -100px;
  }
  .advertising .main .swap_down button{
    width: 400px;
    height: 80px;
    border: 3px solid lightgrey;
  }
  .advertising .main .swap_down button a{
    font-size: 40px;
  }
  .title_center{
    margin-left: 5%;
  }
  .condition .office_image{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin-left: 5%;
  }
  .about_office{
    height: 1400px;
    margin-left: 5%;
    width: 93%;
  }
  .about_office .wrapper .chair p,.about_office .wrapper .bolt p,.about_office .wrapper .wifi p{
    font-size: 2em;
  }
  .about_office .wrapper .bolt .title, .about_office .wrapper .wifi .title ,.about_office .wrapper .chair .title{
    font-size: 3.2em;
  }
  .about_office .wrapper div{
    width: 90%;
    height: 35vw;
  }
  .about_office .wrapper{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 1fr;
  }
  .condition .footer{
    margin-top: -305px;
    margin-left: 5%;
    font-size: 22px;
    width: 90%;
  }
  .tarrifs .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5%;
    width: 90%;
  }
  .tarrifs .wrapper .price_list{
    height: 500px;
    border: 2px solid lightgrey
  }
  .tarrifs .wrapper .price_list .price{
    font-size: 30px;
  }
  .tarrifs .wrapper .price_list .label_text{
    font-size: 24px;
  }
  .tarrifs .wrapper .price_list button{
    border: 2px solid lightgrey;
    border-left: none;
    border-right: none;
  }
  .tarrifs .wrapper .label_text .desc{
    font-weight: bold;
    font-size: 45px;
  }
  .tarrifs .wrapper .wrapper_paragraph label{
    font-size: 30px;
  }
  .tarrifs .footer{
    width: 89.5%;
    font-size: 24px;
    margin-left: 5%;
  }
  .tarrifs .wrapper .price_list button{
    font-size: 39px;
    height: 70px;
  }
  .contacts .form .wrapper_input{
    grid-column: 1/-1;
    display: grid;
  }
  .contacts .form .wrapper_input input{
    font-size: 24px;
  }
  .footer div{
    font-size: 24px;
  }
  .wrapper_contacts{
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .wrapper_contacts .button_wrapper2{
    display: grid;
    grid-row: 2
  }
  .button_wrapper1 button,.button_wrapper2 button{
    font-family: 'Montserrat', bold;
    background: #fff;
    outline: none;
    border: none;
    border: 1px solid lightgrey;
    font-size: 2px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    background: #fff;
  }
  .wrapper_contacts .form{
    display: grid;
    grid-row: 1;
    width: 100%;
    grid-column: 1/-1;
    border: 1px solid lightgrey;
  }
  .wrapper_contacts .form .wrapper_input,.wrapper_contacts .form .wrapper_textarea{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .wrapper_contacts .button_wrapper1 button ,.wrapper_contacts .button_wrapper2 button {
    font-size: 28px;
  }
  .wrapper_contacts .button_wrapper1,.wrapper_contacts .button_wrapper2  {
    font-family: 'Montserrat', bold;
    background: #fff;
    outline: none;
    border: none;
    border: 1px solid lightgrey;
    font-weight: bold;
    cursor: pointer;
    height: 80px;
  }
  .form .wrapper_input{
    display: grid;
    grid-template-columns: 20% 1fr;
    padding: 20px;
  }
  .form .wrapper_input input{
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    font-size: 24px;
    color: black;
  }
  .form .wrapper_input label{
    font-size: 35px;
  }
  .form .wrapper_textarea{
    display: grid;
    grid-template-columns: 20% 1fr;
    padding: 20px;
  }
  .form .wrapper_textarea label{
    margin-top: 30px;
  }
  .form .wrapper_textarea textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 20px;
    max-width: 100%;
    max-height: 70px;
    height: 15px;
    margin-bottom: 20px;
    width: 400px;
  }
  .wrapper_contacts .footer{
    display: grid;
    grid-row: 3;
    text-align: center;
  }
  .wrapper_contacts .footer .icons i{
    padding-left: 25px;
  }
  .wrapper_contacts .footer .icons{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  .wrapper_contacts .footer .email{
    font-size: 18px;
    margin-top: 10px;
  }
  .wrapper_contacts .footer .prone_number{
    display: grid;
    font-size: 24px;
    font-weight: bold;
  }
  .wrapper_contacts .footer .street{
    margin-top: 40px;
    font-size: 18px;
  }
  .wrapper_contacts .button_wrapper1{
    display: grid;
    grid-row: 4
  }
  iframe {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
  }
}
  /* width 1263 */
